<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <span><%= sub_title %> </span><a href='/'>[回首頁]</a>
    <form action = "/add" method = "post" >
			<%if(user){%>
				<input type='hidden' name='author' value=<%= user.username %>>
			<%}%>
			<%if(!user){%>
				<input type='hidden' name='author' value='訪客'>
			<%}%>
			<div style="margin:10px;">
				<label style="margin:10px">標題</label>
				<input type='text' name='title'>
			</div>
			<div style="margin:10px; vertical-align:text-top;">
				<label style="margin:10px;">內容</label>
				<textarea name='content' rows="10" cols="50"></textarea>
			</div>
			<button type='submit'>新增文章</button>
		</form>
  </body>
</html>
