<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id= 'messages'>
      
    </div>
    <div id= 'form'>
      <input id= 'message' type='text'><button id = 'sendBtn'>送出</button>
    </div>
  </body>
</html>